nav.navbar.bg-primary.row
    div.col-xs-12.col-md-9
        a.navbar-brand(href="/") Awesome Activities Finder
    div.col-xs-12.col-md-3
        if (!currentUser)
            ul.userBtns
                a(href="/login")
                    li.glyphicon.glyphicon-log-in.auth
                        span.userbtns Login

                a(href="/sign-up")
                    li.glyphicon.glyphicon-check.auth
                        span.userbtns Signup


        else
            ul.userBtns
                li
                    span Welcome:
                    a.nav-item.nav-user(href="#" + currentUser.username)=currentUser.username
                    span#userId(hidden)=currentUser.id
                    a.logout.nav-item.glyphicon.glyphicon-log-out.auth(href="/logout")
                        span.userbtns Logout
                    //a.logout.nav-item.glyphicon.glyphicon-log-out(href="/user/")#logout Logout
