extends layout

block content
    div.container-fluid
    if (dangers.length !== 0)
        div.row
            div.col-xs-12.col-md-3.col-md-offset-4.text-center
                div.alert.alert-info #{dangers}

    div.row
    div.center-block.auth-form
        h2.auth-title Login
        form.text-center.form-group(action="/search" method="POST")
            input.form-control(type="text" name="term" placeholder="Search Term")
            input.form-control(type="text" name="place" placeholder="Location")
            div.text-right
                button.btn.btn-primary(type="submit") Search
